* {
   box-sizing: border-box;
}

a {
   text-decoration: none;
   display: inline-block;
}

img {
   max-width: 100%;
}

body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   line-height: 28px;
   color: #616060;
   font-size: 15px;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

.header--top {
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 15;
}

.container {
   max-width: 1200px;
   margin: 0 auto;


}

.header--inner,
.footer--inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
}

.header--menu,
.footer--menu {
   margin-left: auto;
}

.header--menu-item,
.footer--menu-item {
   display: inline-block;
   margin: 0 5px;
   padding: 0 13px;
}



.header--menu-item a,
.footer--menu-item a {
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   text-transform: uppercase;
   font-size: 15px;
   letter-spacing: 1px;
   color: rgba(255, 255, 255);
}

.footer--menu-item a {
   color: #000;
}

.footer--menu-item a:hover {
   color: #000;
   font-weight: 400;
   font-style: normal;
}

.header--menu-item .icon-shopping-cart {
   content: '\e900';
   color: #fff;
   font-size: 30px;
   vertical-align: middle;
}

.header--menu-list,
.footer--menu-list {
   position: relative;
}

.sub--menu {
   position: absolute;
   display: none;
   left: 5px;
   padding: 13px;
}

.header--menu-list > li:hover {
   background-color: #fcff19;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}

.header--menu-list > li:hover .sub--menu {
   display: block;
   background-color: #fcff19;
   border-top-right-radius: 6px;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;
   padding-top: 19px;
}

.header--menu-list > li:hover a {
   color: #000;
}

.color--text-yellow {
   color: #d2ce16;
}

.top {
   height: 100vh;
}

.top--inner {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 10;
   text-align: center;
   transform: translate(-50%, -50%);
   color: white;
   font-family: 'Montserrat', sans-serif;
}

.top--subtiitle {
   font-size: 50px;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 35px;
   font-weight: bold;
   color: #fff;
   letter-spacing: 5px;
}

.top-title {
   font-size: 28px;
   text-transform: uppercase;
   line-height: 1.16;
   margin-bottom: 55px;
   font-family: 'Roboto';
   font-weight: lighter;
   color: #c4bebe;
}

.top--link {
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   line-height: 2.708;
   letter-spacing: 1px;
   font-weight: bold;
   background-color: #000;
   border-radius: 10px;
   padding: 18px 27px;
   color: #fff;
}

.top--link:hover {
   color: rgb(252, 255, 25);
}

.top--item-1 {
   background-image: url(../img/top-item-1.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

.top--item-2 {
   background-image: url(../img/top-item-2.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

.top--item-3 {
   background-image: url(../img/top-item-3.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

.top--item-fon {
   background-color: rgba(0, 0, 0, .55);
   height: 100vh;
}

.slick-next {
   position: absolute;
   top: 50%;
   right: 20px;
   z-index: 15;
   height: 55px;
   width: 55px;
   font-size: 0;
   background-color: transparent;
   transform: translate(0, -50%);
   outline: none;
   cursor: pointer;
   border-radius: 15%;
}

.slick-next::before {
   content: '\e901';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'icomoon';
   font-size: 30px;
   color: #fff;
   border-radius: 50%;
}

.slick-prev {
   position: absolute;
   top: 50%;
   left: 20px;
   z-index: 15;
   height: 55px;
   width: 55px;
   font-size: 0;
   background-color: transparent;
   transform: translate(0, -50%);
   outline: none;
   cursor: pointer;
   border-radius: 15%;
}

.slick-prev::before {
   content: '\e902';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'icomoon';
   font-size: 30px;
   color: #fff;
   border-radius: 50%;
}

.top--to-go {
   position: absolute;
   bottom: 40px;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 20;
   text-align: center;
}

.top--to-go a {
   font-size: 24px;
   color: white;
}



.menu--categories {
   background-image: url(../img/CATEGORIES_BG_IMAGE.jpg);
   background-repeat: no-repeat;
}

.title-categories {
   font-size: 28px;
   font-family: 'Roboto', sans-serif;
   padding: 75px 0;
   font-weight: bold;
   color: #000;
   letter-spacing: 0;
   text-transform: uppercase;
   text-align: center;
}

.categories--imgs {
   display: flex;
   justify-content: space-between;
   padding-bottom: 170px;
}

.categories--img {
   position: relative;
}

.block--categories {
   width: 100%;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.block--categories a {
   color: #fff;
   border: 3px solid #fff;
   padding: 5px 22px;
   margin-top: 25px;
   border-radius: 10px;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 12px;
}

.sup {
   color: #fcff19;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 15px;
}

.sub {
   color: #fff;
   font-family: 'Roboto', sans-serif;
   font-weight: lighter;
   font-size: 16px;
}

.block--shop-imgs {
   display: flex;
   justify-content: space-around;
}

.block--shop-img {
   margin-bottom: 35px;
}

.block--shop-categories {
   display: flex;

}

.select-wrapper {
   position: relative;
   width: 140px;
   border: 1px solid #6C7231;
   border-radius: 9px;
   margin-right: 10px;
}

.select-wrapper select {
   width: 140px;
   padding: 18px 20px 18px 17px;
   background: transparent;
   border: 0;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.select-wrapper select::-ms-expand {
   display: none;
   /* remove arrow IE     */
}

.select-arrow-3 {
   position: absolute;
   z-index: -9999;
   border: 8px solid transparent;
   border-bottom: 0;
   right: 6px;

}

.select-arrow-3:nth-child(1) {
   top: 24px;
   border-top-color: #6C7231;
}

.select-arrow-3:nth-child(2) {
   top: 21px;
   border-top-color: #FFF;

}

.block--shop-name {
   margin-right: auto;
   font-size: 15px;
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
}

.block--shop-cost {
   font-weight: lighter;
}

.block--shop-button {
   background-color: #b7b7b7;
   border-radius: 9px;
   width: 93px;
   color: #fff;
   border: none;
}

.block--shop-button:hover {
   background-color: #000;
   color: #fcff19;
}

.contact--us {
   background-image: url(../img/CONTACT_US_BG.jpg);
   background-repeat: no-repeat;
}

.title-categories-contact {
   font-size: 28px;
   font-family: 'Roboto', sans-serif;
   padding: 55px 0;
   font-weight: bold;
   color: #000;
   letter-spacing: 0;
   text-transform: uppercase;
   text-align: center;
}

.contact--us-title {
   font-size: 15px;
   color: #000;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   margin-bottom: 50px;
}

.form--contact {
   max-width: 450px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.form--contact input,
.form--contact .textarea--contact-form {
   border: 1px solid #dadada;
   border-radius: 9px;
   margin-bottom: 21px;
   padding: 18px;
   color: #919191;
   font-size: 12px;
   font-family: 'Roboto', sans-serif;
   font-style: italic;
}

.form--contact .textarea--contact-form {
   min-height: 152px;
}

.form--contact .button-send {
   margin-bottom: 47px;
   color: #fff;
   font-style: normal;
   font-weight: 700;
   background-color: #b7b7b7;
}

.name--contact-form,
.surname--contact-form {
   flex-basis: 210px;
}

.email--contact-form,
.textarea--contact-form,
.button-send {
   flex-basis: 100%;
}

.footer {
   min-height: 70px;
   background-color: #fcff19;
}
